<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ma_bibliotheque</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <mapping class="fr.franck.ma_bibliotheque_v2.business.Livre"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Auteur"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Editeur"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Type"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Categorie"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Utilisateur"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Lecteur"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Admin"/>
        <mapping class="fr.franck.ma_bibliotheque_v2.business.Pret"/>
    </session-factory>
</hibernate-configuration>
